*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../image/bg.jpg');
    background-size: cover;
}
#game{
    display: grid;
    grid-template-areas: 
    'header header header'
    'header header header'
    'header header header';
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: cursive;
    background-color: yellow;
    color: black;
}
#square1{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square2{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square3{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square4{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square5{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square6{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square7{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square8{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#square9{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#win{
    display: flex;
    border: 1px solid rgb(2, 87, 16);
    min-width: 300px;
    height: 45px;
    background-color: greenyellow;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
#replay{
    display: flex;
    border: 2px solid rgb(1, 91, 7);
    min-width: 100px;
    height: 35px;
    background-color: greenyellow;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    font-family: cursive;
    font-size: 1.5em;
    align-items: center;
    border-radius: 10px;
}